<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      internalLogLevel="Warn"
      internalLogFile="C:\work\log.txt">

	<variable name="defaultLayout" value="${longdate}|${level}|${message:withException=true}" />

	<targets>
		<target name="console" xsi:type="Console"
            layout="${longdate}|${level}|${message}" />
		<target name="logfile" xsi:type="File" fileName="file.txt" layout="${defaultLayout}" />
		<target name="console" xsi:type="ColoredConsole" layout="${defaultLayout}" />
		<target name="file" xsi:type="File" fileName="${basedir}/file.txt"
      layout="${stacktrace} ${message}" />
	</targets>

	<rules>
		<logger name="*" minlevel="Info" writeTo="logconsole" />
		<logger name="*" minlevel="Debug" writeTo="logfile" />
	</rules>
</nlog>